{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container-fluid mt-5 pt-5 hp-hero">
        <div class="row">
            <div class="col-7 col-md-6">
                <h1 class="display-4">
                    Checkout our full range here!
                </h1>
                <div class="my-4">
                    <p>
                        <a href="" class="btn-shop-now btn btn-lg rounded-0 py-3 fs-3">SHOP NOW!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
   <div class="container my-5">
       <div class="row mt-3">
           <div class="col my-3">
               <div class="card" style="width: 18rem;">
                   <img src="/media/homepage-hero1.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                       <h5 class="card-title">Card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                           the card's content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
               </div>
           </div>
           <div class="col my-3">
               <div class="card" style="width: 18rem;">
                   <img src="/media/homepage-hero.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                       <h5 class="card-title">Card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                           the card's content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
               </div>
           </div>
           <div class="col my-3">
               <div class="card" style="width: 18rem;">
                   <img src="/media/homepage-hero1.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                       <h5 class="card-title">Card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                           the card's content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
               </div>
           </div>
       </div>
       <div class="row mt-3">
           <div class="col my-3">
               <div class="card" style="width: 18rem;">
                   <img src="/media/homepage-hero.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                       <h5 class="card-title">Card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                           the card's content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
               </div>
           </div>
           <div class="col my-3">
               <div class="card" style="width: 18rem;">
                   <img src="/media/homepage-hero1.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                       <h5 class="card-title">Card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                           the card's content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
               </div>
           </div>
           <div class="col my-3">
               <div class="card" style="width: 18rem;">
                   <img src="/media/homepage-hero.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                       <h5 class="card-title">Card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                           the card's content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div class="container delivery my-5">
       <div class="row my-3">
           <div class="col-8 offset-2 col-md-6 col-lg-4">
                <!-- <img src="/media/delivery.png" alt="Colourful sketch of a delivery van"> -->
           </div>
       </div>
   </div>
{% endblock %}