
* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


/* site wide*/

.bg-dark-blue {
  /* background: #0f266c !important; */
  background: #0f266c !important;
  }
  
  .bg-medium-blue {
  background-color: #1f35ff !important;
  
  }
  
  .bg-light-blue {
  background-color: #75d4fa !important;
  }


/* Navbar */

header {
  color: #f7f0f5;
  font-weight: 500;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #f7f0f5;
}

header a{
  color:#f7f0f5;
  text-decoration:none;
}
  
header a:hover {
  color: #c06ed8;
  text-decoration: none;
}

.font-size-h1 {
  font-size: 2rem !important;
  font-weight: 900;
}

#main-nav {
  background-color: #75d4fa;
  width: 100%;
}

/* Override Bootstrap Dropdown menu */

.dropdown-item {
  font-weight: 500;
  color: #0f366c;
  text-align: center;
  border-bottom: 2px solid #c06ed8;
}

/* Hero Image */

.hp-hero {
  background: url("/media/homepage-hero.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto;
  height: calc(35vh - 506px);
  min-height: 25vh;
  bottom: 100px;
  color: rgb(0, 0, 0);
  font-family: 'Lato';
}

#cta {
  color: #0f266c;
}

.btn-shop-now {
  color: #f7f0f5;
  background-color: #1f35ff;
  font-weight: 900;
  font-size: 1.3rem;
}

.btn-shop-now:hover {
  color: #75d4fa;
}

.delivery {
  /* background: url("/media/delivery.png") no-repeat center center;
  background-size: cover; */
  max-width: fit-content;
  max-height: fit-content;
  min-height: 40%;
  overflow: hidden;
  }




/* .shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #c06ed8;
  color: #c06ed8;
} */

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

/* products.html */

.img-fluid{
  max-width: 90%;
  height: 359px;
}







/* from Bulma - ensures font awesome icons remain centered and consistent in size */
/* .icon {
align-items: center;
display: inline-flex;
justify-content: center;
height: 1.5rem;
width: 1.5rem;
} */

/* .logo-font {
text-transform: uppercase;
} */

/* 
.shop-now-button {
background: black;
color: white;
min-width: 260px;
} */

.btn-black {
background: black;
color: white;
}

.btn-outline-black {
background: white;
color: black !important; /* use important to override link colors for <a> elements */
border: 1px solid black;
}

/* .shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
background: #222;
color: white;
} */

.text-black {
color: #000 !important;
}

.border-black {
border: 1px solid black !important;
}

.bg-black {
background-color: #000 !important;
}
/* 
.overlay {
height: 100%;
width: 100%;
top: 0;
left: 0;
position: fixed;
background: white;
z-index: -1;
} */

a.category-badge > span.badge:hover {
background: #212529 !important;
color: #fff !important;
}

.btt-button {
height: 42px;
width: 42px;
position: fixed;
bottom: 10px;
right: 10px;
}

.btt-link,
.update-link,
.remove-item {
cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
position: fixed;
top: 72px;
right: 15px;
z-index: 99999999999;
}

.custom-toast {
overflow: visible;
}

.toast-capper {
height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
width: 0; 
height: 0; 
border-left: 4px solid transparent;
border-right: 4px solid transparent; 
border-bottom: 10px solid black;
position: absolute;
top: -10px;
right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
border-bottom-color: #007bff !important;
}

.arrow-secondary {
border-bottom-color: #6c757d !important;
}

.arrow-success {
border-bottom-color: #28a745 !important;
}

.arrow-danger {
border-bottom-color: #dc3545 !important;
}

.arrow-warning {
border-bottom-color: #ffc107 !important;
}

.arrow-info {
border-bottom-color: #17a2b8 !important;
}

.arrow-light {
border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
height: 100px;
overflow-x: hidden;
overflow-y: auto;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}


/* Allauth form formatting */

.allauth-form-inner-content p {
margin-top: 1.5rem; /* mt-4 */
color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
border-color: #000;
border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
display: none;
}

.allauth-form-inner-content input::placeholder {
color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
font-weight: 400;
color: #fff;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: #000;
border: 1px solid #000;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0;

/* standard bootstrap btn transitions */
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #fff;
background-color: #222;
border-color: #222;
}

.allauth-form-inner-content a {
color: #75d4fa; /* text-info */
}


.custom-checkbox .custom-control-label::before {
border-radius: 0;
border-color: #d12323;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
background-color: #d12323;
border-color: #d12323;
border-radius: 0;
}





/************************************************************************************************************************************************************/

/* Media Queries */

/* Increase VH of hero image on desktops */
@media (min-width: 992px) {
  .hp-hero {
    background: url("/media/homepage-hero.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: auto;
    /* height: calc(65vh - 116px); */
    min-height: 60vh;
    bottom: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Lato';
  }
}



