<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="menswear-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menswear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="menswear-link">
                <a href="" class="dropdown-item">Clothing</a>
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Menswear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="womenswear-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Womenswear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="womenswear-link">
                <a href="" class="dropdown-item">Clothing</a>
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Womenswear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="childrenswear-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Childrenswear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="childrenswear-link">
                <a href="" class="dropdown-item">Clothing</a>
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Childrenswear</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="sports-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sports
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sports-link">
                <a href="" class="dropdown-item">Football</a>
                <a href="" class="dropdown-item">Rugby</a>
                <a href="" class="dropdown-item">G.A.A.</a>
                <a href="" class="dropdown-item">All Sports</a>
            </div>
        </li>
    </ul>
</div>